@using Microsoft.AspNetCore.Authentication

<ul class="navbar-nav">
@if (User.Identity?.IsAuthenticated == true)
{
    <li class="nav-item dropdown nav-dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">@User.Identity.Name</a>
        <ul class="dropdown-menu dropdown-menu-end">
            <li>
                <form method="post" asp-page="/Account/Logout" asp-route-returnUrl="/">
                    <button type="submit" class="dropdown-item">Sign out</button>
                </form>
            </li>
        </ul>
    </li>
}
else
{
    <li class="nav-item"><a class="nav-link" asp-page="/Account/Login">Sign in</a></li>
}
</ul>
